<h1>This Product OR UOM alerady exist.</h1>
<br>
<h1>If you make STOCK OUT than check that product exist in STOCK ?? && make sure product STOCK = '0' if yes than you not able to do STOCK OUT...</h1>