<footer id="footer">
    <p>Make By <a href="http://amrutiyajay98.000webhostapp.com/">Jay Amrutiya</a> &copy; 2019</p>
  </footer>

  

<script>
   CKEDITOR.replace( 'editor1' );
</script>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>